body{
background-color: rgb(89, 241, 89);
}
h1{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: blue;
background-color: cornsilk;
}
#sketch_name{
color: red;

}
#show_sketch{
float: right;
}
#score{
font-size:35px;
margin-left: 20px;
}
#timer{
font-size:35px;
float:right;
margin-right: 20px;
}